In [1]:
import pandas as pd 
import numpy as np
import datetime as datetime

In [2]:
df=pd.read_csv('bugs_runtime_mean.csv')

In [3]:
df.head()

   year     runtime
0  1964  174.633333
1  1965  175.066667
2  1966  173.925000
3  1967  177.660000
4  1968  181.240000

In [6]:
df['년']=df['runtime'].astype(float).round(0)

In [7]:
df

    year     runtime      년
0   1964  174.633333  175.0
1   1965  175.066667  175.0
2   1966  173.925000  174.0
3   1967  177.660000  178.0
4   1968  181.240000  181.0
5   1969  179.760000  180.0
6   1970  179.100000  179.0
7   1971  183.800000  184.0
8   1972  190.620000  191.0
9   1973  185.612245  186.0
10  1974  201.551020  202.0
11  1975  184.061224  184.0
12  1976  191.240000  191.0
13  1977  197.820000  198.0
14  1978  212.340000  212.0
15  1979  205.983051  206.0
16  1980  210.640000  211.0
17  1981  213.820000  214.0
18  1982  204.460000  204.0
19  1983  213.000000  213.0
20  1984  226.840000  227.0
21  1985  224.800000  225.0
22  1986  225.300000  225.0
23  1987  234.550000  235.0
24  1988  240.000000  240.0
25  1989  244.430000  244.0
26  1990  240.040000  240.0
27  1991  247.910000  248.0
28  1992  243.460000  243.0
29  1993  248.640000  249.0
30  1994  247.630000  248.0
31  1995  248.290000  248.0
32  1996  251.960000  252.0
33  1997  247.130000  247.0
34  1998  251.160000  251.0
35  1999  246.100000  246.0
36  2000  245.860000  246.0
37  2001  251.520000  252.0
38  2002  246.360000  246.0
39  2003  242.970000  243.0
40  2004  243.600000  244.0
41  2005  244.350000  244.0
42  2006  241.440000  241.0
43  2007  241.300000  241.0
44  2008  231.500000  232.0
45  2009  221.000000  221.0
46  2010  219.150000  219.0
47  2011  218.720000  219.0
48  2012  223.540000  224.0
49  2013  218.650000  219.0
50  2014  225.360000  225.0
51  2015  213.640000  214.0
52  2016  222.720000  223.0
53  2017  217.380000  217.0
54  2018  230.490000  230.0

In [8]:
df.to_csv('df1.csv')

In [21]:
df2=pd.read_csv('lyric_per_runtime.csv')

In [22]:
df2

    year  lyric_per_runtime
0   1964           0.800501
1   1965           0.769323
2   1966           0.706784
3   1967           0.719339
4   1968           0.687395
5   1969           0.771939
6   1970           0.873105
7   1971           0.862434
8   1972           0.800373
9   1973           1.075148
10  1974           0.970537
11  1975           0.918318
12  1976           0.809250
13  1977           0.812890
14  1978           0.816323
15  1979           0.927965
16  1980           0.853120
17  1981           0.874562
18  1982           0.929551
19  1983           1.043559
20  1984           0.869517
21  1985           0.977687
22  1986           0.930771
23  1987           0.966930
24  1988           0.907415
25  1989           0.920029
26  1990           0.954014
27  1991           0.957662
28  1992           1.058020
29  1993           1.119036
30  1994           1.168092
31  1995           1.328402
32  1996           1.393366
33  1997           1.565297
34  1998           1.545347
35  1999           1.906197
36  2000           1.850353
37  2001           1.878400
38  2002           2.136869
39  2003           2.155182
40  2004           2.212372
41  2005           2.202061
42  2006           2.205917
43  2007           2.128288
44  2008           2.522523
45  2009           3.209143
46  2010           3.320238
47  2011           3.069088
48  2012           2.945794
49  2013           2.803821
50  2014           2.645818
51  2015           3.117253
52  2016           2.649912
53  2017           2.764118
54  2018           2.576219

In [27]:
df2['lyric_per_runtime1']=df2['lyric_per_runtime'].round(2)

In [28]:
df2

    year  lyric_per_runtime  lyric_per_runtime1
0   1964           0.800501                0.80
1   1965           0.769323                0.77
2   1966           0.706784                0.71
3   1967           0.719339                0.72
4   1968           0.687395                0.69
5   1969           0.771939                0.77
6   1970           0.873105                0.87
7   1971           0.862434                0.86
8   1972           0.800373                0.80
9   1973           1.075148                1.08
10  1974           0.970537                0.97
11  1975           0.918318                0.92
12  1976           0.809250                0.81
13  1977           0.812890                0.81
14  1978           0.816323                0.82
15  1979           0.927965                0.93
16  1980           0.853120                0.85
17  1981           0.874562                0.87
18  1982           0.929551                0.93
19  1983           1.043559                1.04
20  1984           0.869517                0.87
21  1985           0.977687                0.98
22  1986           0.930771                0.93
23  1987           0.966930                0.97
24  1988           0.907415                0.91
25  1989           0.920029                0.92
26  1990           0.954014                0.95
27  1991           0.957662                0.96
28  1992           1.058020                1.06
29  1993           1.119036                1.12
30  1994           1.168092                1.17
31  1995           1.328402                1.33
32  1996           1.393366                1.39
33  1997           1.565297                1.57
34  1998           1.545347                1.55
35  1999           1.906197                1.91
36  2000           1.850353                1.85
37  2001           1.878400                1.88
38  2002           2.136869                2.14
39  2003           2.155182                2.16
40  2004           2.212372                2.21
41  2005           2.202061                2.20
42  2006           2.205917                2.21
43  2007           2.128288                2.13
44  2008           2.522523                2.52
45  2009           3.209143                3.21
46  2010           3.320238                3.32
47  2011           3.069088                3.07
48  2012           2.945794                2.95
49  2013           2.803821                2.80
50  2014           2.645818                2.65
51  2015           3.117253                3.12
52  2016           2.649912                2.65
53  2017           2.764118                2.76
54  2018           2.576219                2.58

In [29]:
df2.to_csv('df2.csv')

In [9]:
df3=pd.read_csv('/Volumes/GoogleDrive/공유 드라이브/2019-1 컨퍼런스 가사/wordcloud_txt csv/연도별 H-P point.csv'  )

In [10]:
df3

    Unnamed: 0         0
0         2018  6.210000
1         2017  6.170000
2         2016  6.010000
3         2015  6.560000
4         2014  6.270000
5         2013  6.500000
6         2012  6.690000
7         2011  6.650000
8         2010  7.080000
9         2009  7.100000
10        2008  6.370000
11        2007  5.710000
12        2006  5.930000
13        2005  5.790000
14        2004  5.510000
15        2003  5.590000
16        2002  5.550000
17        2001  5.120000
18        2000  5.130000
19        1999  5.040404
20        1998  4.700000
21        1997  4.920000
22        1996  4.580000
23        1995  4.707071
24        1994  4.260000
25        1993  4.212121
26        1992  4.092784
27        1991  4.156250
28        1990  4.030612
29        1989  3.989583
30        1988  4.052083
31        1987  4.204082
32        1986  4.236559
33        1985  4.431579
34        1984  4.043478
35        1983  4.120000
36        1982  4.061224
37        1981  3.914894
38        1980  4.250000
39        1979  3.946429
40        1978  3.729167
41        1977  3.739130
42        1976  3.695652
43        1975  3.755556
44        1974  4.062500
45        1973  3.936170
46        1972  3.829787
47        1971  3.488889
48        1970  3.361702
49        1969  3.500000
50        1968  3.190476
51        1967  3.450000
52        1966  2.888889
53        1965  2.857143
54        1964  3.142857

In [12]:
df3['HP_Point']=df3['0'].round(2)

In [13]:
df3

    Unnamed: 0         0  HP_Point
0         2018  6.210000      6.21
1         2017  6.170000      6.17
2         2016  6.010000      6.01
3         2015  6.560000      6.56
4         2014  6.270000      6.27
5         2013  6.500000      6.50
6         2012  6.690000      6.69
7         2011  6.650000      6.65
8         2010  7.080000      7.08
9         2009  7.100000      7.10
10        2008  6.370000      6.37
11        2007  5.710000      5.71
12        2006  5.930000      5.93
13        2005  5.790000      5.79
14        2004  5.510000      5.51
15        2003  5.590000      5.59
16        2002  5.550000      5.55
17        2001  5.120000      5.12
18        2000  5.130000      5.13
19        1999  5.040404      5.04
20        1998  4.700000      4.70
21        1997  4.920000      4.92
22        1996  4.580000      4.58
23        1995  4.707071      4.71
24        1994  4.260000      4.26
25        1993  4.212121      4.21
26        1992  4.092784      4.09
27        1991  4.156250      4.16
28        1990  4.030612      4.03
29        1989  3.989583      3.99
30        1988  4.052083      4.05
31        1987  4.204082      4.20
32        1986  4.236559      4.24
33        1985  4.431579      4.43
34        1984  4.043478      4.04
35        1983  4.120000      4.12
36        1982  4.061224      4.06
37        1981  3.914894      3.91
38        1980  4.250000      4.25
39        1979  3.946429      3.95
40        1978  3.729167      3.73
41        1977  3.739130      3.74
42        1976  3.695652      3.70
43        1975  3.755556      3.76
44        1974  4.062500      4.06
45        1973  3.936170      3.94
46        1972  3.829787      3.83
47        1971  3.488889      3.49
48        1970  3.361702      3.36
49        1969  3.500000      3.50
50        1968  3.190476      3.19
51        1967  3.450000      3.45
52        1966  2.888889      2.89
53        1965  2.857143      2.86
54        1964  3.142857      3.14

In [14]:
df3.to_csv('hp_point.csv')

In [ ]:
df1 = df.pivot('month', 'year', 'passengers')
df1.head()